<template>
  <ImagePreview imageClass="logo" src="logo.png" alt="logo" />
</template>

<script lang="ts">
import Vue from "vue";
import ImagePreview from "primevue/imagepreview";
export default Vue.extend({
  components: {
    ImagePreview,
  },
});
</script>
<style>
.logo {
  height: 180px;
  display: block;
  margin: auto;
}
</style>
