<template>
  <div class="main">
    <search-filter @filtered-items="filteredItems($event)"></search-filter>
    <div class="row">
      <div v-for="movie in movies" class="cards-item" :key="movie.title">
        <movie-card :movie="movie" @base64="base64Image($event)"></movie-card>
      </div>
    </div>
    <Paginator
      :rows="10"
      :totalRecords="$store.state.movies.length"
      @page="onPage($event)"
    ></Paginator>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Paginator from "primevue/paginator";
import MovieCard from "./MovieCard.vue";
import SearchFilter from "./SearchFilter.vue";
import { Base64, Movie } from "../../utils/types";
export default Vue.extend({
  components: { MovieCard, Paginator, SearchFilter },
  name: "Gallery",
  data() {
    return {
      movies: [] as Movie[],
      page: 1,
    };
  },

  mounted() {
    this.movies = this.$store.getters.getPaginatedMovies();
  },
  methods: {
    onPage(event: {
      first: number;
      page: number;
      pageCount: number;
      rows: number;
    }) {
      this.page = event.page + 1;
      this.movies = this.$store.getters.getPaginatedMovies(
        event.page + 1,
        event.rows
      );
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
    filteredItems(movies: Movie[]) {
      this.movies = movies;
    },
    async base64Image(event: Base64) {
      await this.$store.dispatch("addImageToCard", event);
      this.movies = this.$store.getters.getPaginatedMovies(this.page, 10);
      console.log(this.movies);
    },
  },
});
</script>

<style scoped>
.main {
  max-width: 880px;
  margin: auto;
  margin-bottom: 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}
</style>
