<template>
  <Card style="width: 25em">
    <template #header>
      <div>
        <img
          v-if="movie.img"
          :alt="movie.title"
          :src="movie.img"
          @click="insertImage"
        />
        <img v-else src="no-image.png" alt="no Image" @click="insertImage" />
      </div>

      <input ref="input" type="file" name="" id="fileInput" hidden />
    </template>
    <template #title> {{ movie.title }} </template>
    <template #subtitle> Year of release: {{ movie.year }} </template>
    <template #content>
      <ul>
        <li>Author: {{ movie.actor }}</li>
        <li>Director: {{ movie.director }}</li>
      </ul>
    </template>
  </Card>
</template>

<script lang="ts">
import Vue from "vue";
import Card from "primevue/card";
import Button from "primevue/button";
export default Vue.extend({
  name: "movie-card",
  props: {
    movie: {
      required: true,
    },
  },
  components: {
    Card,
    Button,
  },
  methods: {
    insertImage() {
      const fileInput = (this.$refs as any).input;
      fileInput.click();
      fileInput.addEventListener("change", (e: any) => {
        const file = e.target.files[0];
        const reader = new FileReader();
        if (reader) {
          reader.onloadend = () => {
            const base64String = reader.result as any;
            this.$emit("base64", { img: base64String, movie: this.movie });
          };
          reader.readAsDataURL(file);
        }
      });
    },
  },
});
</script>
<style scoped>
img {
  cursor: pointer;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}
</style>
