<template>
  <div class="wrapper">
    <AutoComplete
      v-model="selectedMovie"
      :suggestions="filteredMovies"
      @complete="searchMovie($event)"
      @item-select="selectMovie($event)"
      @clear="clearFilter"
      field="title"
      placeholder="Hint: type 'v' or 'f'"
    />
    <Dropdown
      v-model="selectedSort"
      :options="sorts"
      :showClear="true"
      optionLabel="name"
      placeholder="Sort By"
      @change="changeSort($event)"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import AutoComplete from "primevue/autocomplete";
import Dropdown from "primevue/dropdown";
import { Movie, Sort } from "../../utils/types";
export default Vue.extend({
  components: {
    AutoComplete,
    Dropdown,
  },
  data() {
    return {
      selectedSort: null,
      selectedMovie: null,
      filteredMovies: null,
      sorts: [
        { name: "Title", key: "title" },
        { name: "Year", key: "year" },
        { name: "Actor", key: "actor" },
        { name: "Director", key: "director" },
      ] as Sort[],
    };
  },

  methods: {
    searchMovie(event: { originalEvent: InputEvent; query: string }) {
      this.filteredMovies = this.$store.getters.getFilteredMovies(
        event.query.toLowerCase()
      );
      this.$emit("filtered-items", this.filteredMovies);
    },
    selectMovie(event: { originalEvent: PointerEvent; value: Movie }) {
      const filteredMovies = this.$store.getters.getFilteredMovies(
        event.value.title.toLowerCase()
      );
      this.$emit("filtered-items", filteredMovies);
    },
    changeSort(event: { originalEvent: PointerEvent; value: Movie }) {
      this.$store.dispatch("changeSort", event.value ? event.value : {});
      const sortedMovies = this.$store.getters.getSortedMovies;
      this.$emit("filtered-items", sortedMovies);
    },
    clearFilter() {
      const filteredMovies = this.$store.getters.getFilteredMovies(null);
      this.$emit("filtered-items", filteredMovies);
    },
  },
});
</script>
<style scoped>
.wrapper {
  display: flex;
  padding: 1rem;
}
</style>
